<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Main view</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!--추가 스타일-->

</head>

<body>

<div id="wrapper">

    <!--좌측 메뉴 영역-->
    <% include ../common/leftmenu.ejs%>

    <!--우측 영역-->
    <div id="page-wrapper" class="gray-bg">

        <!--우측 상단 영역 -->
        <% include ../common/header.ejs%>


        <!--우측 상단 헤더 영역 -->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>게시글 목록 조회</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/Home/Index">Home</a>&nbsp;>&nbsp;
                    </li>
                    <li>
                        <a>게시글 정보</a>
                    </li>
                    <li class="active">
                        <strong>조회</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <!--우측 콘텐츠 영역 -->
        <div class="wrapper wrapper-content">

            <!--            조회버튼-->
            <form action="/article/list" method="post">
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="OrderNo">제목</label>
                                <input type="text" class="form-control" name="title">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="OrderName">아이피주소</label>
                                <input type="text" class="form-control" name="ipadress">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="MobileNo">사용여부</label>
                                <select name="displayyn" class="form-control">
                                    <option value="">전체</option>
                                    <option value="Y">게시함</option>
                                    <option value="N">게시안함</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">조회</button>
                        <a href="/article/create" class="btn btn-info">신규</a>
                    </div>
                </div>
            </form>

            <!--            조회결과 목록 표시-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="table-responsive">

                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th width="10%">글순번</th>
                                        <th width="20%">제목</th>
                                        <th width="10%">조회수</th>
                                        <th width="20%">아이피주소</th>
                                        <th width="10%">게시여부</th>
                                        <th width="10%">등록일</th>
                                        <th width="20%">등록자</th>
                                    </tr>
                                    </thead>
                                    <tbody class="hoverTblBody">
                                    <%if(articles.length < 1 ){%>
                                        <tr>
                                            <td><a href="#">1</a></td>
                                            <td><a href="/article/modify/1">제목</a></td>
                                            <td>1</td>
                                            <td>111.111.111.111</td>
                                            <td>N</td>
                                            <td>2023.05.10</td>
                                            <td>이지수</td>
                                        </tr>
                                    <%}else {%>
                                        <% for(let i = 0; i < articles.length; i++){%>
                                        <tr>
                                            <td><a href="#"><%=articles[i].aid%></a></td>
                                            <td><a href="/article/modify/<%=articles[i].aid%>"><%=articles[i].title%></a></td>
                                            <td><%=articles[i].view_cnt%></td>
                                            <td><%=articles[i].ipadress%></td>
                                            <td><%=articles[i].display_yn%></td>
                                            <td><%=articles[i].regist_date%></td>
                                            <td><%=articles[i].regist_user%></td>
                                        </tr>
                                        <%}%>
                                    <%}%>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <!--우측 하단 풋터 영역-->
        <% include ../common/footer.ejs%>


    </div>
</div>

<!-- Mainly scripts -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/inspinia.js"></script>
<script src="/js/plugins/pace/pace.min.js"></script>


<!--추가 스크립트-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>

</script>


</body>

</html>